*{
    margin: 0;
    padding:0;
}

.nav-bar-div{
    display: inline-block;
    /*display: none;*/
    align-content: stretch;
}

.left-align-list-item img{
    margin-top: 10px;
    margin-left:20px;
}

.nav-bar-list{
    list-style: none;
}

.nav-bar-list li{
    display: inline-block;
    /* display: none; */
}

.right-align-list-item{
    margin-top: 28px;
    margin-right: 25px;
    float: right;
}

.right-align-list-item a{
    margin-right: 20px;
    text-decoration: none;
    font-family: "Bebas Neue";
    font-size: large;
    color:#000000;
}

.right-align-list-item a:hover{
    color:orange;
}