body{
    background-image: url("../resources/signUp_background.jpg");
    background-size: 100%;

}

.signIn-div{
    width: 50%;
    margin: 1% 25% 6.25% 50%;
    justify-content: center;
}

.signIn-div form{
    margin:0 25% 0 25%;
    width: 50%;
}

.signIn-div form input ,button{
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
}

.signIn-div input,button{
    background:transparent;
    text-decoration: solid;
    border-color: black;
    outline: none;
}

.signIn-div button:hover{
    border-color: black;
}

.signIn-div input{
    background:transparent;
    outline: none;
}

.signIn-div button{
    background:transparent;    
}

.signIn-div button:hover{
    border-color: black;
}

.signIn-div label{
    margin: 10px 0 10px 0;
}

.signIn-div a{
    margin: 0 25% 0 25%;
    text-decoration: none;
    color:black;
}